.social-networks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .mat-icon svg {
        height: 24px;
        width: 24px;
    }
}


.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width:992px) {
        flex-direction: row;
    }

    h5 {
        font-weight: 600;
    }

    p {
        font-size: 1rem;
    }


}

.lines {
    background-image: url('/assets/img/lineas.png');
    background-repeat: repeat-x;
    width: 100%;
    height: 100px;
    position: relative;
    display: block;
}

.copy-rigth {
    background-color: #1C242C;
    padding: 35px 0;

    .title {
        font-family: 'Ubuntu Mono', monospace;
        font-size: 16px;
        color: #FFFFFF;
    }

    .description {
        font-family: 'Catamaran', sans-serif;
        font-size: 14px;
        color: #FFFFFF;

    }
}