<section class="fold content">
  <div class="social-networks mt-5">
    <img src="assets/img/logo_responsive.svg" alt="">
    <div class="d-flex">
      <h6 class="mr-3">Siguenos en</h6>
      <mat-icon class="mx-1" svgIcon="linkedin-box"></mat-icon>
      <mat-icon class="mx-1" svgIcon="medium"></mat-icon>
    </div>
  </div>
  <div class="info py-5">
    <div class="ubication">
      <h6>Ubicación</h6>
      <p class="lead">
        Bogotá - Colombia
        <br>
        Carrera 15 # 88-21 Oficina 901
      </p>
    </div>

    <div class="phone">
      <h6>Teléfonos</h6>
      <p class="lead">
        (+57) 2223545
        <br>
        (+57) 224354
      </p>
    </div>

    <div class="emails">
      <h6>Correo para empresas</h6>
      <p class="lead">
        alianzas@zinobe.com
      </p>
    </div>

    <div class="pqr">
      <h6>PQRs y otros</h6>
      <p class="lead">
        pqr@zinobe.com
      </p>
    </div>
  </div>
</section>
<div class="lines mt-5">
</div>
<div class="copy-rigth">
  <div class=" fold content">
        <p class="title">Copyrigth {{year}}  Zinobe.com</p>
        <p class="description">
            Prohibida su reproducción total o parcial, así como su traducción a cualquier idioma sin autorización escrita de su titual.ngForm<br>
            Registrada en Colombia - SurAmérica - NIT 900449259-3
        </p>
  </div>

</div>
