<header class="fixed-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-white">

    <a class=" navbar-brand" routerLink="/inicio" href="#"  *ngIf="href === '/inicio' || href === '/' || href === '/terminos-y-condiciones'">
      <img src="assets/img/logo.svg"
      alt="Zinobe"></a>

    <a class=" navbar-brand" routerLink="/inicio" href="#" *ngIf="href === '/nosotros'" >
      <img src="assets/img/logo_rojo.svg"
        alt="Zinobe">
      </a>
        
    <a class=" navbar-brand" routerLink="/inicio" href="#" *ngIf="href === '/hablemos'">
      <img src="assets/img/logo_azul.svg"
         alt="Zinobe"></a>

    <button class="navbar-toggler" mat-icon-button type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <mat-icon>menu</mat-icon>
    </button>

    <div class="collapse navbar-collapse justify-content-end " id="navbarSupportedContent">
      <div class="navbar-nav menu">
        <a class="nav-item nav-link mx-3" routerLinkActive="home" routerLink="/inicio" href="#">Inicio</a>
        <a class="nav-item nav-link mx-3" routerLinkActive="about-us" routerLink="/nosotros" href="#">Nosotros</a>
        <a class="nav-item nav-link mx-3" routerLinkActive="contact" routerLink="/hablemos" href="#">Hablémos</a>

        <div class="nav-item nav-link mx-3 d-flex align-items-center">
          <a class="nav-item nav-link cursor-pointer " role="button" (click)="changelanguage('es')" [ngClass]="{'home': (href === '/inicio' || href === '/') && lagSelect === 'es',
          'about-us': href === '/nosotros'  && lagSelect === 'es',
          'contact': href === '/hablemos'  && lagSelect === 'es'}
            ">Es</a> /
          <a class="nav-item nav-link cursor-pointer " role="button" (click)="changelanguage('en')" [ngClass]="{'home': (href === '/inicio' || href === '/') && lagSelect === 'en',
          'about-us': href === '/nosotros'  && lagSelect === 'en',
          'contact': href === '/hablemos'  && lagSelect === 'en'}
            ">En</a>
        </div>

      </div>
    </div>
  </nav>
</header>
