header {
    width: 100%;
    background-color: white;
    z-index: 3;


    nav {
        max-width: 1365px;
        width: 100%;
        margin: 0 auto;
        padding: 16px 32px;

        .menu {
            justify-content: flex-start;
            margin-top: 32px;

            @media (min-width: 992px) {
                align-items: center;
                margin-top: 0px;
            }

        }

    }
}

.home {
    color: #6741DD !important;
   
}

.about-us {
    color: #F30A49 !important;
   
}

.contact {
    color: #13C5FF !important;
   
}