<section class="fold pb-3">
  <div class="jumbotron position-relative bg-blue-ligth">
    <img src="assets/img/pattern.png" class="position-absolute pattern">
    <div class="content contact">
      <div class="context"  data-aos="fade-right">
        <h1 [innerHTML]="'contact.first_fold.title' | translate"></h1>
        <p class="mt-3" [innerHTML]="'contact.first_fold.description' | translate"></p>
      </div>
      <div class="form bg-white"  data-aos="fade-left">
        <h4 [innerHTML]="'contact.first_fold.form.title' | translate"></h4>
        <form class="d-flex flex-column" [formGroup]="contactForm" (ngSubmit)="sendInfo()">
          <mat-form-field>
            <input matInput class="mt-3" type="text" [placeholder]="'contact.first_fold.form.first_field' | translate"
              value="" formControlName="name">
          </mat-form-field>
          <mat-form-field>
            <input matInput class="mt-3" type="email" [placeholder]="'contact.first_fold.form.second_field' | translate"
              value="" formControlName="email">
          </mat-form-field>
          <mat-form-field>
            <input matInput class="mt-3" type="number" [placeholder]="'contact.first_fold.form.third_field' | translate"
              value="" formControlName="contact_number">
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{'contact.first_fold.form.fourth_field' | translate}}</mat-label>
            <mat-select formControlName="interested_in">
              <mat-option value="Lineru">
                Lineru
              </mat-option>
              <mat-option value="Aliatu">
                Aliatu
              </mat-option>
              <mat-option value="Others">
                Otros
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <textarea cols="3" matInput class="mt-3" type="text"
              [placeholder]="'contact.first_fold.form.fifth_field' | translate" value=""
              formControlName="message"> </textarea>
          </mat-form-field>
          <mat-checkbox color="primary" formControlName="terms_and_conditions" class="mt-3">Estoy de acuerdo con los <a
              href="#" target="_blank" routerLink="/terminos-y-condiciones" style="pointer-events: all">términos y
              condiciones</a></mat-checkbox>
          <mat-error *ngIf="contactForm.get('terms_and_conditions').hasError('required') && contactForm.get('terms_and_conditions').touched">Debes aceptar los terminos y condiciones</mat-error>

          <button type="submit" mat-flat-button
            class="btn btn-primary btn-lg mt-4 p-2 bg-purple">{{'contact.first_fold.form.handler' | translate}}</button>
        </form>
      </div>
    </div>
  </div>
</section>
