.jumbotron {
    padding: 93px auto;
    overflow: hidden;
    display: flex;

    .pattern {
        position: absolute;
        top: 0;
        right: -20px;
        z-index: 1;
        visibility: hidden;

        @media(min-width: 1200px) {
         visibility: visible;
        }
    }

    .contact {

        min-height:550px;
        height: auto;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        

        @media (min-width:1200px) {
            flex-direction: row;
            justify-content: flex-start;
            height: 65vh;
        }

        .context {
            max-width: 470px;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .form {
            position: relative;
            box-sizing: border-box;
            padding: 40px 75px;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            width: 100%;
            max-width: 500px;
            z-index: 3;


            @media (min-width: 1200px) {
                position: absolute;
                right: 10vw;
                top: 0;
                height: 100%;
            }

        }
    }

}


button:hover {

    background-color: rgba(#6741DD, .8) !important;
}