.jumbotron {
    padding: 93px auto;
    overflow: hidden;

    .pattern {
        position: absolute;
        top: 0;
        right: -20px;
    }
}

.init {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 65vh;
    height: auto;

    .pattern {
        visibility: hidden;
    }

    @media (min-width:1200px) {
        justify-content: space-between;

        .pattern {
            visibility: visible;
        }
    }

    .context {

        width: 100%;

        @media (min-width:1200px) {
            max-width: 491px;
        }

        button:hover {

            background-color: rgba(#6741DD, .8) !important;
        }
    }

    .slide {
        position: relative;
        display: none;
        width: 670px;
        height: 400px;
        border-radius: 400px;

        background-image: url('/assets/img/slide.jpg');
        background-position: center;
        background-size: cover;
        margin-top: 50px;

        @media(min-width:1200px) {
            display: block;
        }

        .particule {
            position: absolute;
            border-radius: 50%;
            z-index: 2;
        }

        .particule-1 {
            background-color: #FFC502;
            width: 38px;
            height: 38px;
        }

        .particule-2 {
            background-color: #00D86C;
            width: 105px;
            height: 105px;
            bottom: 105px;
            left: 40px;
        }

        .particule-3 {
            background-color: #FFC502;
            width: 20px;
            height: 20px;
            right: 50px;
            bottom: 0px;

        }

        .particule-4 {
            background-color: #EF626B;
            width: 125px;
            height: 40px;
            right: 120px;
            border-radius: 40px;
            top: -20px
        }

    }
}

.products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;

    @media(min-width:992px) {
        flex-direction: row;
        padding: 60px;
        box-sizing: border-box;
    }

    .card {
        border: 1px solid #EDEDED;
        background-color: #FFFFFF;
        padding: 40px;
        max-width: 570px;
        width: 100%;
        margin-top: 32px;

        @media(min-width:992px) {
            margin: 16px;
        }


        img {
            width: 150px;
            height: auto;
        }

        p {
            font-size: 16px;
        }

        .color-palette {
            width: 30px;
            height: 10px;
            border-radius: 5px;
        }

        .handler {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            a {
                font-size: 18px;
                font-weight: bold;
                color: #1C242C;
                text-decoration: none;
                padding: 2px;
                border-bottom: 2px solid #1C242C
            }
        }

    }
}

::ng-deep znb-txt-type .wrap {
    position: relative;
    height: 86px;
    border: 1px solid transparent;

    &::after {
        display: block;
        position: absolute;
        content: '';
        right: -10px;
        height: 60px;
        top: 3px;
        width: 5px;
        border-right: 5px solid;
        opacity: 1;
        animation: cursor .6s infinite alternate;
        transition: ease-out;

    }

}

@keyframes cursor {
    to {
     opacity: 0;
     
    }
}

h1{
    font-size: 66px !important;
}