<section class="fold">
  <div class="jumbotron  position-relative bg-green-ligth">
    <div class="content init">
      <img src="assets/img/pattern.png" class="position-absolute pattern">

      <div class="context">
        <h1>
          <znb-txt-type [data-type]="types" [data-period]="'3000'"></znb-txt-type>
        </h1>
        <h2 [innerHTML]="'home.first_fold.subtitle' | translate"></h2>

        <p class="lead mt-5" [innerHTML]="'home.first_fold.description' | translate "></p>
        <button type="button" mat-flat-button
          class="btn btn-primary btn-lg mt-4 p-3 bg-purple" routerLink="/nosotros">{{'home.first_fold.handler' | translate}}</button>
      </div>

      <div class="slide">
        <div class="particule particule-1"></div>
        <div class="particule particule-2"></div>
        <div class="particule particule-3"></div>
        <div class="particule particule-4"></div>
      </div>
    </div>

  </div>
</section>

<section class="fold mt-5 pb-5">

  <h1 class="text-center" [innerHTML]="'home.second_fold.title' | translate"></h1>
  <p class="lead text-center mt-3" [innerHTML]="'home.second_fold.description' | translate"> </p>

  <div class="products  bg-pattern">
    <div class="card" data-aos="fade-right">
      <img src="/assets/img/lineru-logo.svg" alt="Lineru">
      <p class="lead mt-4" [innerHTML]="'home.second_fold.products.lineru' | translate"></p>
      <div class="handler mt-5">
        <a href="https://www.lineru.com/" target="_blank">{{'home.second_fold.products.handlerLineru' | translate}}</a>
        <div class="color-palette bg-lineru"></div>
      </div>
    </div>

    <div class="card" data-aos="fade-left">
      <img src="/assets/img/aliatu-logo.svg" alt="Aliatu">
      <p class="lead mt-4" [innerHTML]="'home.second_fold.products.aliatu' | translate"></p>
      <div class="handler mt-5">
        <a href="https://www.aliatu.com/" target="_blank">{{'home.second_fold.products.handlerAliatu' | translate}}</a>
        <div class="color-palette bg-aliatu"></div>
      </div>
    </div>
  </div>

</section>
