

.jumbotron {
    overflow: hidden;


    .pattern {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.about-us {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .pattern {
        display: none;
    }

    @media(min-width:1200px) {

        & {
            flex-direction: row;
            justify-content: space-between;
        }

        .pattern {
            position: absolute;
            top: 30%;
            right: -300px;
            display: block;
        }
    }

    .context {
        max-width: 470px;
        width: 100%;
    }

    .slide {
        position: relative;
        width: 400px;
        height: 400px;
        border-radius: 50%;
        background-image: url('/assets/img/slide.jpg');
        background-position: center;
        background-size: cover;
        margin-top: 50px;

        @media(min-width:1200px) {
            & {
                margin: 0;
            }
        }

        .particule {
            position: absolute;
            border-radius: 50%;
            z-index: 2;
        }

        .particule-1 {
            background-color: #FFC502;
            width: 38px;
            height: 38px;
        }

        .particule-2 {
            background-color: #FFC502;
            width: 140px;
            height: 140px;
            bottom: 0;
            left: -70px;
        }

        .particule-3 {
            background-color: #63395F;
            width: 108px;
            height: 108px;
            right: -60px;
            bottom: 70px;
        }

        .particule-4 {
            background-color: #EF626B;
            width: 70px;
            height: 70px;
            right: -70px;
        }

    }


}


.adn {
    display: flex;
    flex-direction: column-reverse;

    @media (min-width:1365px) {
        flex-direction: row;
        justify-content: space-between;
    }

    .content-cards {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        @media (min-width:1365px) {
            justify-content: space-between;
            max-width: 585px;
        }

    }

    .context {
        width: 100%;
        text-align: center;

        @media (min-width:1365px) {
            max-width: 570px;
            text-align: right;
        }
    }

    .card {
        max-width: 275px;
        width: 100%;
        padding: 17px 23px;
        margin: 16px;

        @media (min-width:1365px) {
            margin: 0;
            margin-top: 32px;

            &:nth-child(-n+2) {
                margin-top: 0;
            }
        }

        p {
            font-size: 1rem;
        }

        .palette {
            width: 30px;
            height: 5px;
            border-radius: 5px;
            background-color: #5AD4E4;
            margin-left: calc(100% - 30px);
            margin-top: 20px;
        }

    }


    .qualities {
        display: flex;
    }
}

.fold-alliances {
    box-sizing: border-box;
    padding: 32px;

    .alliances {
        width: 100%;
        text-align: center;


        @media (min-width: 992px) {
            text-align: left;
            max-width: 570px;
        }
    }

    .logo-alliances {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;


        img {
            max-width: 270px;
            width: 100%;
            margin-top: 16px;
        }
    }
}