<section class="fold">
  <div class="jumbotron bg-white position-relative pb-5">
    <div class="about-us content">
      <img src="assets/img/pattern.png" class="position-absolute pattern">

      <div class="context">
        <h1 [innerHTML]="'aboutUs.first_fold.title' | translate"></h1>
        <p class="lead mt-5" [innerHTML]="'aboutUs.first_fold.description' | translate "></p>
      </div>
      <div class="slide">
        <div class="particule particule-1"></div>
        <div class="particule particule-2"></div>
        <div class="particule particule-3"></div>
        <div class="particule particule-4"></div>
      </div>
    </div>
  </div>
</section>

<section class="fold ">
  <div class="jumbotron mt-5 bg-pink-ligth position-relative">
    <div class="adn content">
      <div class="content-cards">
        <div class="card bg-white"  data-aos="fade-right">
          <h2 [innerHTML]="'aboutUs.second_fold.fragments.first.title' | translate"></h2>
          <p class="lead" [innerHTML]="'aboutUs.second_fold.fragments.first.description' | translate"></p>
          <div class="palette"></div>
        </div>
        <div class="card bg-white"  data-aos="fade-left">
          <h2 [innerHTML]="'aboutUs.second_fold.fragments.second.title' | translate"></h2>
          <p class="lead" [innerHTML]="'aboutUs.second_fold.fragments.second.description' | translate"></p>
          <div class="palette"></div>
        </div>
        <div class="card bg-white"  data-aos="fade-right">
          <h2 [innerHTML]="'aboutUs.second_fold.fragments.third.title' | translate"></h2>
          <p class="lead" [innerHTML]="'aboutUs.second_fold.fragments.third.description' | translate"></p>
          <div class="palette"></div>
        </div>
        <div class="card bg-white"  data-aos="fade-left">
          <h2 [innerHTML]="'aboutUs.second_fold.fragments.fourth.title' | translate"></h2>
          <p class="lead" [innerHTML]="'aboutUs.second_fold.fragments.fourth.description' | translate"></p>
          <div class="palette"></div>
        </div>
        <div class="card bg-white"  data-aos="fade-right">
          <h2 [innerHTML]="'aboutUs.second_fold.fragments.fifth.title' | translate"></h2>
          <p class="lead" [innerHTML]="'aboutUs.second_fold.fragments.fifth.description' | translate"></p>
          <div class="palette"></div>
        </div>
        <div class="card bg-white"  data-aos="fade-left">
          <h2 [innerHTML]="'aboutUs.second_fold.fragments.sixth.title' | translate"></h2>
          <p class="lead" [innerHTML]="'aboutUs.second_fold.fragments.sixth.description' | translate"></p>
          <div class="palette"></div>
        </div>
      </div>

      <div class="context">
        <h1 [innerHTML]="'aboutUs.second_fold.title' | translate"></h1>
        <p class="lead mt-5" [innerHTML]="'aboutUs.second_fold.description' | translate "></p>
      </div>
    </div>

  </div>
</section>

<section class="fold fold-alliances">
  <div class="content mt-5">

 
  <div class="alliances">
    <h1 [innerHTML]="'aboutUs.third_fold.title' | translate"></h1>
    <p class="lead mt-4" [innerHTML]="'aboutUs.third_fold.description' | translate"></p>
  </div>

  <div class="logo-alliances">
    <img src="assets/img/alliances/fintech-colombia.jpg" alt="Colombia Fintech" data-aos="zoom-in">
    <img src="assets/img/alliances/datacredito.jpg" alt="Data credito" data-aos="zoom-in">
    <img src="assets/img/alliances/endeavor.jpg" alt="endeavor Colombia" data-aos="zoom-in">
    <img src="assets/img/alliances/banco_bogota.jpg" alt="Banco Bogotá" data-aos="zoom-in">
    <img src="assets/img/alliances/amazone.jpg" alt="Amazon web services" data-aos="zoom-in">
    <img src="assets/img/alliances/bancoldex.jpg" alt="Bancoldex" data-aos="zoom-in">
    <img src="assets/img/alliances/fng.jpg" alt="Fondo Nacional de Garantias" data-aos="zoom-in">
    <img src="assets/img/alliances/sura.jpg" alt="Sura" data-aos="zoom-in">
  </div>
</div>
</section>
