// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$zinobeSite-primary: mat-palette($mat-indigo);
$zinobeSite-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$zinobeSite-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$zinobeSite-theme: mat-light-theme($zinobeSite-primary, $zinobeSite-accent, $zinobeSite-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($zinobeSite-theme);

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Catamaran|Quicksand|Ubuntu+Mono|Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold !important;
}

h1 {

    font-weight: bold !important;

    @media (min-width:992px) {
        font-size: 5.25rem !important;
    }
}

* {
    font-family: 'Varela Round', sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.bg-green-ligth {
    background-color: #CCF6E8 !important;
}

.bg-pink-ligth {
    background-color: #FFDEE0 !important;
}

.bg-blue-ligth {
    background-color: #DAF6FF !important;
}

.bg-purple {
    background-color: #6741DD !important;
}

.bg-lineru {
    background-color: #4588FB !important;
}

.bg-aliatu {
    background-color: #5AD4E4;
}

.bg-pattern {


    @media (min-width:992px) {
        background-image: url('/assets/img/pattern.png');
        background-repeat: repeat-x;
    }
}

.content {
    max-width: 1340px;
    width: 100%;
    margin: 0 auto;
    padding: 32px;
}

.fold {
    width: 100%;
    box-sizing: border-box;

    @media (min-width:992px) {
        padding: 32px;
    }

}

button:focus {
    outline: none !important;
    border: none;
}

p {
    font-size: 1rem;
}

.cursor-pointer {
    cursor: pointer;
}